@font-face {
  font-family: "AvenirLTStd-Heavy";
  src: url("assets/fonts/AvenirLTStd-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-Light";
  src: url("assets/fonts/AvenirLTStd-Light.ttf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-Light-Oblique";
  src: url("assets/fonts/AvenirLTStd-Light-Oblique.ttf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-Medium";
  src: url("assets/fonts/AvenirLTStd-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-Roman";
  src: url("assets/fonts/AvenirLTStd-Roman.ttf") format("truetype");
}
